/* Basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #2d2d2d;
  color: #fff;
}

header {
  background-color: #2d2d2d;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#best-price {
  margin-top: 10px;
  font-size: 1.2em;
  color: yellow;
}

.container {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 20px 0;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #ddd;
}

button.dark-mode-toggle {
  background-color: #444;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

table.dark-mode {
  background-color: #444;
  color: white;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

body.dark-mode th {
  background-color: #666;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.stat {
  text-align: center;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .stats {
    flex-direction: column;
    align-items: center;
  }

  .stat {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 5px 0;
  }

  th,
  td {
    font-size: 0.8em;
    padding: 5px;
  }

  .stat {
    font-size: 1em;
  }
}
